{{ HtmlHelper.ImportJs("colorpicker") }}
<link rel="stylesheet" href="/Meetings/Apps/Schemas/Css/main.css" type="text/css">
<link rel="stylesheet" href="/Meetings/Apps/Schemas/Css/menu.css" type="text/css">
<link rel="stylesheet" href="/Meetings/Apps/Schemas/Css/creation.css" type="text/css">
<div id="schema_app_container"></div>