<div class="pure-g-r">
    <div class="user_info pure-u-1-4">
        <div>
            <div class="picture">
                <img src="http://placehold.it/250x250" alt="user_picture"/>
            </div>
            <div class="username">
                <%= user.get("username") %>
            </div>
            <div class="email">
                <%= user.get("email") %>
            </div>
            <div>
                <a href="javascript:void(0);">Change my password</a>
            </div>
        </div>
    </div>
    <div class="pure-u-3-4 contacts">
        <div>
            <div class="contacts_notifs">
                <h3>Notifications</h3>
            </div>
            <div class="contacts_viewer">
                <h3>Your contacts</h3>
            </div>
            <div class="contact_finder">
                <h3>Find users</h3>

                <form action="javascript:void(0);" class="pure-form pure-form-aligned">
                    <div class="pure-control-group">
                        <label>Search for users</label>
                        <input type="text" class="user_finder_input" placeholder="Enter a username or an email"/>
                    </div>

                    <div class="user_finder_results">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>