.k_fs_save_window_container {
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    background-color: white;
    border: 1px #d3d3d3 solid;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;

}

.k_fs_save_window .browser {
    height: 360px;
    width: 460px;
    overflow-y: scroll;
    background-color: #d3d3d3;
    padding: 20px;
}

.k_fs_save_window .browser_control {
    height: 40px;
}

.k_fs_save_window .address {
    height: 14px;
    border: 1px #d3d3d3 solid;
    background-color: white;
    padding: 4px;
    font-weight: bold;
    margin-left: 50px;
    position: relative;
    top: 5px;
}



.k_fs_save_window .save_window_controls {
    position: relative;
}

.k_fs_save_window .save_window_controls input {
    position: absolute;
    left: 0px;
    right: 97px;
    top: 0px;
    bottom: 0px;
    height: auto;
}


.k_fs_save_window .save_window_controls button {
    float: right;
}

.k_fs_save_window .browser_button {
    float: left;
}