.blocks_container {
    display: inline-block;
}

.appBlock_container {
    border: solid 1px #666;
    margin: 10px;
    padding: 8px;
    display: block;
    float: left;
}

.appBlock_name {

}

.appBlock_description {

}

.app_container {
    border: solid 1px #666;
    margin: 5px;
    padding: 4px;
}

.app_name {

}

.app_description {

}