.blocks_container {
    display: inline-block;
    padding: 15px;
}

.dashboard_block {
    border: solid 1px #666;
    margin: 4px;
    padding: 8px;
    display: block;
    float: left;
    /*box-shadow: 1px 1px 4px 0px #c7c7c7;*/
}

.appBlock_name {

}

.appBlock_description {

}

.dashboard_app {
    border: none;
    margin: 6px;
    padding: 10px;
    display: block;
    float: left;
    height: 100px;
    width: 250px;
}

.dashboard_app a {
    text-decoration: none;
    color: #000000;
}

.dashboard_app a:active {
    color: #000000;
}

.dashboard_app a:visited {
    color: #000000;
}

.dashboard_app a:hover {
    color: #000000;
}

.app_description {

}

.backgroundThem1 {
    background-image: url('/images/background2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: -24px;
}

.bg1 {
    background-color: #2a83ec;
}

.bg2 {
    background-color: #d34926;
}

.bg3 {
    background-color: #603cba;
}

.bg4 {
    background-color: #02991a;
}

.bg5 {
    background-color: #b51d44;
}

.bg6 {
    background-color: #024053;
}

.bg7 {
    background-color: #1c7783;
}