<form action="/Files" method="post" target="iframe" enctype="multipart/form-data">
    <div class="form_field">
        <label>File name : </label>
        <input type="text" name="name"/>
    </div>
    <div class="form_field">
        <label>Original file : </label>
        <input type="file" name="file" />
    </div>
    <input type="hidden" name="parent_folder" value="<%= parent_folder_id %>" />
    <input type="submit" class="k_fs_upload_button" value="Send file"/>
    <input type="reset" class="k_fs_upload_cancel_button" value="Cancel" />
</form>
<iframe name="iframe">

</iframe>
