
<% _.each(folders, function (folder) { %>
<div class="k_fs_thumbnail k_fs_folder_tb" data-folder_id="<%= folder.get('id') %>" title="<%= folder.get('name') %>">
    <div><img src="/images/folder.png" /></div>
        <%= _s.truncate(folder.get('name'), 7) %>
</div>
<% }); %>
<% _.each(files, function (file) { %>
<div class="k_fs_thumbnail k_fs_file_tb" data-file_id="<%= file.get('id') %>"  title="<%= file.get('name') %>">
    <div><img src="/images/file.png" /></div>
    <%= _s.truncate(file.get('name'), 7) %>
</div>
<% }); %>
