<!-- This is the page for the chat application -->

<div id="app_container"></div>

<link rel="stylesheet" href="/Apps/Chat/Css/main.css" type="text/css">
<script type="text/javascript" src="/Apps/Common/requireConfig.js"></script>
<script type="text/javascript" src="/Apps/Chat/main.js"></script>
