.editor_button .bold {
    font-weight: bold;
}

.editor_button .italic {
    font-style: italic;
}

.editor_button .underline {
    text-decoration: underline;
}

.editor_button_container {
    display: none;
}

.text_editor .tool_box {
    height: 30px;
}