<div class="tool_box">
    <div class="editor_button_container">
        <button class="editor_button bold" data-commandName="bold">B</button>
        <button class="editor_button italic" data-commandName="italic">I</button>
        <button class="editor_button underline" data-commandName="underline">U</button>
        |
        <button class="editor_button justifyleft" data-commandName="justifyleft" title="align left">L</button>
        <button class="editor_button justifycenter" data-commandName="justifycenter" title="center">C</button>
        <button class="editor_button justifyright" data-commandName="justifyright" title="align right">R</button>
    </div>
</div>
<div class="textContainer">
    <div class="richTextEditor_containerDiv">
        <iframe class="richTextEditor">
        </iframe>
    </div>
</div>
