<div class="block">
    <form class="k_um_creation_form" action="javascript:void(0);">
        <div class="field">
            <label for="username">Username</label>
            <input type="text" id="username" name="name" class="username_input"/>
        </div>
        <div class="field">
            <label for="firstname">Firstname</label>
            <input type="text" id="firstname" name="firstname" class="username_input"/>
        </div>
        <div class="field">
            <label for="lastname">Lastname</label>
            <input type="text" id="lastname" name="lastname" class="username_input"/>
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="username_password"/>
        </div>
        <div class="field">
            <label for="confirmpass">Retype password</label>
            <input type="password" id="confirmpass" name="password_check" class="username_password_check"/>
        </div>
        <div class="field" style="float: right">
            <button class="user_creation_button">Create user</button>
        </div>
        <div style="clear: both;"/>
    </form>
</div>