<form class="k_um_creation_form" action="javascript:void(0);">
    <div class="field">
        <label>Username: </label>
        <input type="text" name="name" class="username_input"/>
    </div>
    <div class="field">
        <label>Firstname: </label>
        <input type="text" name="firstname" class="username_input"/>
    </div>
    <div class="field">
        <label>Lastname: </label>
        <input type="text" name="lastname" class="username_input"/>
    </div>
    <div class="field">
        <label>Password: </label>
        <input type="password" name="password" class="username_password"/>
    </div>
    <div class="field">
        <label>Retype password: </label>
        <input type="password" name="password_check" class="username_password_check"/>
    </div>
    <button class="user_creation_button">Create user</button>
</form>