<h1>User card</h1>
<div class="form_field">
    <button class="k_um_user_save_button">Save this user</button>
    <label>Name: </label>
    <input type="text" class="k_um_username_input" value="<%= username %>"/>
    <fieldset>
        <legend>Jobs</legend>
        <div class="k_um_user_job_container">
            <% _.each(user.get("jobs"), function(job){ %>
            <li><%= job.get("name") %> <a href="javascript:void(0);" class="k_um_remove_job_button" data-job_id="<%= job.get('id') %>"><img src="/images/icons/cross.png"/></a></li>
            <% }); %>
        </div>
        Add job: <input type="text" placeholder="Enter a job name" /><button class="k_um_user_job_add_button">Add</button>
    </fieldset>
    <fieldset>
        <legend>Groups</legend>
        <div class="k_um_user_job_container">

        </div>
        Remove job: <input type="text" placeholder="Enter a group name" /><button class="k_um_user_job_add_button">Add</button>
    </fieldset>
</div>
