<a href="javascrip:void(0);" class="close_window_link"><img src="/images/icons/cross_close.png" /></a>
<div><%= (discussion.get('name') != undefined) ? discussion.get('name') : "Discussion Panel" %></div>
<div class="k_chat_discussion_description">
    <% _.each(available_discussions, function (discussion) { %>
    <div class="k_chat_discussion_selector">
        <a href="javascript:void(0);" class="k_chat_discussion_selector_link" data-id="<%= discussion.get('id') %>"><%= discussion.get('name') %></a>
        <% if (discussion.get('creator') && current_user.get('id') == discussion.get('creator').id) { %>
            <a href="javascript:void(0);" class="k_chat_discussion_action_button"><img src="/images/icons/cross.png"></a>
        <% } else { %>
        <div class="k_chat_discussion_action_button"></div>
        <% } %>
        <a href="javascript:void(0);" class="k_chat_discussion_action_button"><img src="/images/icons/door_out.png"></a>
        <div style="clear: both"></div>
    </div>
    <% }); %>
    <a href="javascript:void(0);" class="k_chat_discussion_creation_button">Create a discussion</a>
</div>
<div class="k_chat_messages_list">

</div>
<div>
    <textarea class="k_chat_send_message_input"></textarea>
    <button class="k_chat_send_message_button">Send message</button>
</div>