<form type="post" action="javascript:void(0);">
    <div class="form_field">
        <label>Name of the discussion</label>
        <input class="k_chat_dc_name_input" type="text" name="name"/>
    </div>
    <div>
        Add users to this conversation :
        <input type="text" class="k_chat_dc_user_search_input" />
        <div>

            <div class="k_chat_dc_user_search_result">

            </div>
            <div class="k_chat_dc_user_selection">

            </div>
            <div style="clear: both"></div>
        </div>
    </div>
    <button class="k_chat_dc_validation_button">Create discussion</button>
</form>