<a href="javascrip:void(0);" class="close_window_link"><img src="/images/icons/cross_close.png" /></a>
<div><%= (discussion.get('name') != undefined) ? discussion.get('name') : "Discussion Panel" %></div>
<div class="k_chat_discussion_description">


</div>

<div class="k_chat_messages_list">

</div>
<button href="javascript:void(0);" class="k_chat_discussion_creation_button">Create a discussion</button>
<div class="k_chat_inputs">
    <textarea class="k_chat_send_message_input"></textarea>
    <button class="k_chat_send_message_button">Send message</button>
</div>