<div id="app_container"></div>
<link rel="stylesheet" type="text/css" href="/Organization/Apps/Common/Css/task_popup.css" />
<link rel="stylesheet" type="text/css" href="/Organization/Apps/Calendar/Css/main.css" />