<!DOCTYPE html>

<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>My website</title>
    {{ HtmlHelper.importCss("default") }}
    {{ HtmlHelper.importJs("require") }}
    <link rel="icon" type="image/jpg" href="/images/favicon.png"/>
</head>
<body>

<div id="flash_shower">
    <div id="flash_message"></div>
    <div style="clear:both"></div>
</div>

<div id="loader"></div>
<div id="container">
    <div id="left_menu">
        <a class="menu_button" href="javascript:void(0);">
            <img src="/images/icons/house.png" title="Home"/>
        </a>
    </div>
    <div id="inner_container">
        <div id="content">
            {{ _content_for_layout_|raw }}
        </div>

        <div id="footer">
            {% if user_set %}
                Logged in as {{ user.name }} <a href="/Users/logout">Log out</a>
            {% else %}
                <a href="/Users/login_form">Log in</a> - <a href="/Users/add">Register</a>
            {% endif %}

        </div>
    </div>
    <div id="file_sharing_button">File Sharing</div>
    <div id="chat_button">Chat</div>
</div>
</body>
</html>