<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="/css/default.css" />
    <link type="text/css" rel="stylesheet" href="/css/login.css" />
    <title>SmartBlocks</title>
</head>
<body>
<div id="inner_container">
    <div id="content">
        {{ _content_for_layout_|raw }}
    </div>
</div>
</body>
</html>